<footer>
    <div id="footer-container">
      <div id="footer-container-child">
        <div id="footer-logo-container">
          <img src="/assets/img/tnk_logo_white.png" alt="Tech no Kami logo">
        </div>

        <div id="footer-site-nav">
          <p class="footer-section-title">Links</p>
          <ul class="footer-section-body">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="">My Portfolio</a></li>
          </ul>
        </div>

        <div id="footer-social-nav">
            <p class="footer-section-title">Follow</p>
            <ul class="footer-section-body-contact">
              <li><a href="mailto:technokami.in@gmail.com"><i class="far fa-envelope"></i></a></li>
              <li><a href="https://facebook.com/technokami"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/_technokami_"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://instagram.com/_technokami_"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
      </div>
    </div>
    <div id="footer-base"><p>2019 Jay Mistry&copy;</p></div>
  </footer>