#home-hero {
  display: block;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to bottom right, #0047AB, #42009A);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6vw), 0 100%);

  p {
    margin: 0px;
  }

  span {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #p-big {
      color: white;
      font-size: 2.7em;
      font-weight: 500;

      @media screen and (max-width: $medium-screen) {
        font-size: 2.4em;
      }

      @media screen and (max-width: $small-screen) {
        font-size: 2.1em;
      }
    }

    #p-sub {
      color: white;
      font-size: 1.4em;
      font-weight: 100;

      @media screen and (max-width: $medium-screen) {
        font-size: 1.2em;
      }
    }
  }
}
