@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
  font-family: 'Hack';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.003/web/fonts/hack-regular.woff') format('woff');
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  background-image: url('/assets/img/bg_123.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
