@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  background-image: url('/assets/img/bg_123.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
