@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
  font-family: 'Hack';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.003/web/fonts/hack-regular.woff') format('woff');
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  background-image: url('/assets/img/bg_123.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgba(0, 71, 171, 0.726);
  transition: 0.15s ease-in;

  &:hover {
    color: #0047AB;
  }
}

ul.no-style {
  list-style-type: none;
}
