.post-card {
  display: block;
  padding: 15px;
  margin: 0px;
  transition: 0.15s ease-in;

  &:hover {
    background-color: rgb(247, 247, 247);
  }
}

.post-title {
  text-decoration: none;
  color: rgba(0, 71, 171, 0.726);
  font-size: 1.6em;
  transition: 0.15s ease-in;

  &:hover {
    color: #0047AB;
  }
}

.post-date {
  font-size: 0.8em;
  color: rgb(100, 100, 100);
}

.post-read-more {
  display: inline-block;
  background: linear-gradient(to bottom right, #0047AB, #42009A);
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin: 10px 0px;
  border-radius: 10px;
  font-weight: 400;
  transition: 0.1s ease-in;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

  &:hover {
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.63);
  }
}
