#post-header {
  height: 60vh;
  background: linear-gradient(to bottom right, #0047AB, #42009A);
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  p {
    margin: 0px;
    padding: 0px;
  }

  div {
    margin: 0px 10%;
    position: relative;
    bottom: 0;

    #post-page-title {
      margin: 10px 50px;
      font-size: 2.8em;
      color: white;
      font-weight: 300;

      @media screen and (max-width: $medium-screen) {
        font-size: 2.1em;
        margin: 10px 30px;
      }

      @media screen and (max-width: $small-screen) {
        font-size: 1.8em;
        margin: 10px 15px;
      }
    }

    #post-page-details {
      margin: 10px 50px;
      font-size: 1em;
      color: white;

      @media screen and (max-width: $medium-screen) {
        font-size: 0.8em;
        margin: 10px 30px;
      }

      @media screen and (max-width: $small-screen) {
        margin: 10px 15px;
      }
    }

    #categories-list {
      margin: 20px 50px;

      span {
        background-color: white;
        color: #0047AB;
        display: inline-block;
        padding: 10px 15px;
        margin-right: 10px;
        border-radius: 10px;
        font-weight: 400;

        @media screen and (max-width: $medium-screen) {
          font-size: 0.8em;
        }
      }

      @media screen and (max-width: $medium-screen) {
        margin: 10px 30px;
      }

      @media screen and (max-width: $small-screen) {
        margin: 10px 15px;
      }
    }

    @media screen and (max-width: $medium-screen) {
      margin: 0%;
    } 
  }

  @media screen and (max-width: $medium-screen) {
    height: 60vh;
  }
}

#post-body {
  margin: 0 10% 50px;
  background-color: white;
  padding: 50px;
  box-sizing: border-box;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 10px rgba(65, 65, 65, 0.308);
  line-height: 200%;
  font-size: 1.2em;

  p {
    margin-top: 5px;
  }

  code.highlighter-rouge {
    display: inline-block;
    padding: 0px 10px;
    margin: 0px;
    border-radius: 5px;
    background-color: rgb(220, 220, 220);
    line-height: 170%;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    line-height: 150%;
  }

  h1 {
    font-size: 2.4em;
    color: #0047AB;
    font-weight: 500;

    &::after {
      content: "";
      display: block;
      margin: 10px 0px; 
      width: 25%;
      height: 4px;
      background-color: #0047AB;
    }
  }

  h2 {
    font-size: 2em;
    color: #0047AB;
    font-weight: 500;

    &::after {
      content: "";
      display: block;
      margin: 10px 0px; 
      width: 25%;
      height: 4px;
      background-color: #0047AB;
    }
  }

  h3 {
    font-size: 1.6em;
    color: #0047AB;
    font-weight: 500;

    &::after {
      content: "";
      display: block;
      margin: 10px 0px; 
      width: 25%;
      height: 4px;
      background-color: #0047AB;
    }
  }

  h4 {
    font-size: 1.4em;
    color: #0047AB;
    font-weight: 500;
  }

  h5 {
    font-size: 1.2em;
    color: #0047AB;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    color: rgba(0, 71, 171, 0.726);
    transition: 0.15s ease-in;

    &:hover {
      color: #0047AB;
    }
  }

  .highlight {
    line-height: 140%;
    font-family: 'Hack', monospace;
    font-size: 16px;
    padding: 0px 10px;
    overflow: auto;
    border-radius: 5px;

    span {
      display: inline-block;
    }
  }

  .post-image {
    max-width: 100%;
    margin:10px auto;
    display: block;
    border-radius: 3px;
    box-shadow: 0px 5px 20px grey;
  }

  @media screen and (max-width: $medium-screen) {
    margin: 0 5% 30px;
    padding: 20px;
    font-size: 1.1em;
  }

  @media screen and (max-width: $small-screen) {
    margin: 0 2% 30px;
    padding: 15px;
    font-size: 1.1em;
  }
}

#next-prev-posts {
  margin: 15px 0;
  line-height: 110%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 700px) {
    flex-wrap: wrap;

    .next-prev-box {
      max-width: 100%!important;
      margin: 15px;
    }
  }

  .next-prev-box {
    display: inline-block;
    padding: 10px;
    background: #0047AB;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    max-width: 45%;
    box-sizing: border-box;
    height: max-content;
  }

  .next-prev-box:hover {
    color: rgba(255, 255, 255, 1);
  }

  #previous-post-url {
    padding-left: 25px;
    clip-path: polygon(25px 0, 100% 0, 100% 100%, 25px 100%, 0 50%);
  }

  #next-post-url {
    padding-right: 25px;
    clip-path: polygon(0 0, calc(100% - 25px) 0, 100% 50%, calc(100% - 25px) 100%, 0 100%);
  }

  .np-link-desc {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
  }
}